.asideSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.asideSection p{
    font-family: var(--font-family-1);
    font-weight: 500;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 25px;
}

.arrow{
    position: relative;
    bottom: 9px;
}

