#tooltip{
    text-align: center;
    width: 70%;
    position: absolute;
    right: 5px;
    transform: translateX(0%);
    background-color: #213635;
    border-bottom: 1px dotted #666;
    color: white;
    padding: 15px;
    border-radius: 4px;
    z-index: 1;
    min-width: 200px;
    font-family: var(--font-family-1);
}