.detalles{
    width: 100%;
    border-top: 1px solid #e5e5e5;
}

.detalles_container{
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    margin-top: 15px;
    padding: 20px 0;
    border-radius: 20px;
    background-color: #f5f5f5;
}

.Tienda__fixed{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 30px;
}

.detalles_container ul {
    list-style: none;
}

.img__data{
    width: 80%;
    margin-left: 14px;
    border-radius: 20px;
}

.marca{
    color: #111111;
    font-size: 24px;
    font-family: var(--font-family-1);
    margin-top: 30px;
    text-transform: capitalize;
}

.genero{
    font-size: 16px;
    font-family: var(--font-family-1);    
    padding-bottom: 4px;
    font-weight: bold;
}

.talla{
    font-size: 20px;
}


@media (min-width:1024px){

    .detalles_container{
        text-align: center;
        width: 50%;
        height: 85vh;
        margin: 0 auto;
        margin-top: 15px;
        padding: 20px 0;
        border-radius: 20px;
        background-color: #f5f5f5;
    }
    
    .img__data{
        width: 45%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .Tienda__fixed{
        bottom: 40px;
        right: 20px;
    }
}