.detalles{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 85vh;
    border-top: 1px solid #e5e5e5;
}

.detalles_container{
    text-align: center;
    width: 80%;
    height: 75vh;
    margin: 0 auto;
    margin-top: 15px;

}

.Tienda__fixed{
    position: absolute;
    right: 0;
    margin-right: 10px;
    margin-top: 30px;
}

.detalles_container ul {
    list-style: none;
}

.img__data{
    width: 80%;
    margin-left: 14px;
    border-radius: 20px;
}

.marca{
    color: #111111;
    font-size: 15px;
    font-family: var(--font-family-1);
    margin-top: 25px;
    text-transform: capitalize;
    margin-right: 30px;
}

.genero{
    font-size: 12px;
    font-family: var(--font-family-1);    
    padding-bottom: 4px;
    font-weight: bold;
    margin-right: 30px;
}

.talla{
    font-size: 12px;
    margin-right: 30px;
}



@media (min-width:1024px){

    .detalles_container{
        text-align: center;
        width: 50%;
        height: 85vh;
        margin: 0 auto;
        margin-top: 15px;
        padding: 20px 0;
        border-radius: 20px;
    }
    
    .img__data{
        width: 45%;
        margin: 0 auto;
        border-radius: 10px;
    }

    .Tienda__fixed{
        bottom: 40px;
        right: 20px;
    }

    .marca{
        color: #111111;
        font-size: 15px;
        font-family: var(--font-family-1);
        margin-top: 25px;
        text-transform: capitalize;
        margin-right: 3px;
    }

    .genero{
        font-size: 12px;
        font-family: var(--font-family-1);    
        padding-bottom: 4px;
        font-weight: bold;
        margin-right: 3px;
    }

    .talla{
        font-size: 12px;
        margin-right: 3px;
    }
}